@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0; 
    font-family: 'Roboto', sans-serif;  
}
body
{
    background-color: black;
}

.nav{
    background-color: white;
    width: 100vw;
    height: 70px;
    
}

h1{
    font-size: 27px;
}

#d{
    color: rgb(219, 6, 6);
}
a{
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    padding-top: 18px; margin-top: -5px;
}

ul li{
    display: inline-block;
padding-left:55px;
    padding-top: 6px;

    
}

ul li a{
    text-decoration: none;
    color: black;
    transition: 0.4s;
}
ul li a:hover{
    color: rgb(219, 6, 6);
    font-weight: 600;
    font-size: 20px;
}
.cart{
    width: 25px;
    height: 25px;
}


.container2
{ 
    display: flex;
    height: 70px;
    width: 100%;
background-color: white;}

.nav{
    width: 100%;
    justify-content: space-between;
    background-color: white;
  
}







.container{
    display: grid;
    margin-top: 5%;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(2,auto);
    /* grid-auto-rows: minmax(450px,auto); */
    gap: 50px;
}

.men{
    grid-column: 4/7;
}
.img{
    width: 320px;
    height: 450px;
    border-radius: 5px;
    transition: 0.3s;
}
.img:hover{
    transform: scale(1.02)
}
.btn{
    width: 320px;
    height: 70px;
    background-color: white;
    border-radius: 5px;
    margin-top: 2%;
    font-size: 40px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.4s;
}
.btn:hover{
    background-color: rgb(219, 6, 6);
    color: white;
    transform: scale(1.02)
}
.women{
    grid-column: 7/10;
}
.kids{
    grid-column: 4/10;
    /* margin-top: 8%; */
    justify-items: center;
}
.imgkid{
    width: 711px;
    border-radius: 5px;
    transition: 0.3s;
}
.imgkid:hover{
    transform: scale(1.02) 
}
.kidbtn{
    width: 711px;
    height: 70px;
    background-color: white;
    border-radius: 5px;
    margin-top: 2%;
    font-size: 40px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.4s;
}
.kidbtn:hover{
    background-color: rgb(219, 6, 6);
    color: white;
    transform: scale(1.02)
}

